*.log*
BraveSoftware/*
Microsoft/*
Nextcloud/*
QtProject.conf
Unknown\ Organization/*
VirtualBox/*
GIMP/*
coc/*
configstore/*
dconf/*
discord/*
flameshot/*
github-copilot/*
mbsync/*
menus/*
msmtp/*
nvim/plugged/*
okular*
pulse/*
pam-gnupg
*.secret
shell/privaterc
skypeforlinux/*
teams/*
wireshark/*
zoomus.conf
zsh/.zcompdump

mpd/*
!mpd.conf

libreoffice/*

Code\ -\ *
VSCodium/*

obs-studio/*

transmission/*
!transmission/settings.json

gh/hosts.yml
