*.log*
BraveSoftware/*
Microsoft/*
Nextcloud/*
QtProject.conf
Unknown\ Organization/*
VirtualBox/*
GIMP/*
coc/*
configstore/*
dconf/*
flameshot/*
menus/*
nvim/plugged/*
nvim/autoload/*
mbsync/*
okularrc
pulse/*
*.secret
shell/privaterc
skypeforlinux/*
teams/*
zoomus.conf
zsh/.zcompdump

mpd/*
!mpd.conf

libreoffice/*

Code\ -\ *
VSCodium/*

obs-studio/*

transmission/*
!transmission/settings.json

gh/hosts.yml
