*.log*
BraveSoftware/*
Microsoft/*
Nextcloud/*
QtProject.conf
Unknown\ Organization/*
VirtualBox/*
coc/*
configstore/*
dconf/*
menus/*
nvim/plugged/*
pulse/*
shell/privaterc
skypeforlinux/*
teams/*
zoomus.conf
zsh/.zcompdump

mpd/*
!mpd.conf

libreoffice/*

Code\ -\ *
VSCodium/*

obs-studio/*
